body{
    width:1440px;
    height:745px;
    background-image:linear-gradient( hsl(240, 73%, 65%),hsl(273, 75%, 66%));
    position: relative;
    margin:0px;
    z-index:3;
}
.main{
    width:1440px;
    z-index:3;
    position: relative;
   
   padding-top:100px;
 

}
.container{
    width:900px;
    height:540px;
    background-color: white;
    margin-left:330px;
    border-radius: 20px;
}
.first{
    width:380px;
    height:540px;
    
}
.background{
    width:400px;
    background-image: url('..\\images\\bg-pattern-desktop.svg');
    height:540px;
    background-position-x: right;
    background-position-y: 70%;
    
}
.image {
   
    left: 22.9%;
    top:25%;
   
    width:400px;
    height:359px;
    z-index:1;
    background-image: url('..\\images\\illustration-woman-online-desktop.svg');
   
    position: absolute;
    background-position-x: right;
    
    background-repeat: no-repeat;
  }
 img{
    
    left:-90px;
    position:relative;
    top:130px;
 }