body{
    width:1440px;
    height:745px;
    background-image:linear-gradient( hsl(240, 73%, 65%),hsl(273, 75%, 66%));
    position: relative;
    margin:0px;
    z-index:3;
}
.main{
    width:1440px;
    z-index:3;
    position: relative;
   
   padding-top:100px;
 

}
.container{
    width:900px;
    height:540px;
    background-color: white;
    margin-left:330px;
    border-radius: 20px;
}
.first{
    width:380px;
    height:540px;
    
}
.background{
    width:400px;
    background-image: url('..\\FAQ-accordion-card\\images\\bg-pattern-desktop.svg');
    height:540px;
    background-position-x: right;
    background-position-y: 70%;
    
}
.image {
   
    left: 22.9%;
    top:25%;
   
    width:400px;
    height:359px;
    z-index:1;
    background-image: url('..\\FAQ-accordion-card\\images\\illustration-woman-online-desktop.svg');
   
    position: absolute;
    background-position-x: right;
    
    background-repeat: no-repeat;
  }
 img{
    
    left:-90px;
    position:relative;
    top:130px;
 }
 .second{
    width:900px;
    height:540px;
    left:380px;
 }
 .head{
    width:65px;
    height:50px;
    left:840px;
    position:absolute;
    top:23%;
 }
 .head h1{
    font-family: 'Kumbh Sans', sans-serif;
    font-size:35px;
 }
 .content{
    width:400px;
    height:385px;
    position:absolute;
    left:800px;
    top:39%;
    

 }
 .q1{
    padding-top: 0%;
    left:40px;
    position:absolute;
 }
 p{
    font-size: 12px;
    font-weight:400, 700;
    font-family: 'Kumbh Sans', sans-serif;
 }

 .hide{
   
    display:none;
 }
 hr{
    color: hsl(240, 5%, 91%);
    width:320px;
    margin-inline-end: 0px;
    margin-block-start: 0px;
    margin-inline-start: 0%;
 }
 .q2{
    padding-top: 0%;
    left:40px;
    position:relative;
    top:70px;
 }